html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    background-color: black; 
    margin: 0px;
    padding: 0px;
}



/* ----------------------------------------------- */

/* HEADER TAG */

#navigation {
    background-color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    z-index: 1;
    box-shadow: 5px 0 10px white;
}

.nav {
    display: block;
}



.nav a {
    color: black;
    background-color: transparent;
    padding: 10px;
    float: right;
    text-decoration: none;
}

.nav a:first-child {
    color: white;
    background-color: red;
}

.nav a:first-child:hover {
    background-color: darkred;
    box-shadow: 0 5px 10px -6px darkred;
}

.nav a:hover {
    background-color: lightgray;
    box-shadow: 0 5px 10px -6px lightgray;
}


#burger {
    display: none;
    background-color: white; 
    width: 100%;
    height: 39px;
    position: fixed;
    top: 0px;
    right: 0px;
}

.icon {
    color: black;
    background-color: transparent;
    padding: 10px;
    float: left;
    height: 39px;
}

@media screen and (max-width: 500px) {
    .nav {
        display: none;
    
    }

    #navigation {
        top: 39px;
        
    }

    .nav a {
        float: none;
        display: block;
    }

    #burger {
        display: block;
    }

}

@media screen and (max-width: 500px) {
    .nav.responsive {
        display: block;
    }
}

/* ----------------------------------------------- */

/* MAIN TAG */

#main {
    height: 100%;
    padding-top: 35px;
    padding-bottom: 100px;
    text-align: center;
    color: white;
}
 
.pumum.anim {
    position: absolute;
    top: 201px;
    left: 203px;
    z-index: 2;
    display: block;
    padding: 10px;
    animation: animpumum 0.4s ease-in 1 forwards;
    
}

.bahasa.anim {
    position: absolute;
    top: 201px;
    left: 523px;
    z-index: 2;
    display: block;
    padding: 10px;
    animation: animbahasa 0.4s ease-in 1 forwards;
    
}

.programming.anim {
    position: relative;
    bottom: 201px;
    right: 843px;
    z-index: 2;
    display: block;
    padding: 10px;
    
    
}

/* .programming.anim:hover {
    bottom: 201px;
    right: 843px;

} */

/* .programming.mina {
    position: absolute;
    top: 201px;
    left: 843px;
    z-index: 2;
    display: block;
    padding: 10px;
    animation: minaprog 0.4s ease-in 1 forwards;
    
} */
/* 
@keyframes minaprog {
    0% {left: 150px; top: 150px;}
    100% {left: 843px; top: 201px;}        
}

@keyframes animpumum {
    0% {left: 203px; top: 201px;}
    100% {left: 150px; top: 150px;}        
}

@keyframes animbahasa {
    0% {left: 523px; top: 201px;}
    100% {left: 150px; top: 150px;}        
}

@keyframes animprog {
    0% {left: 843px; top: 201px;}
    100% {left: 150px; top: 150px;}        
} */

#pumum {
    padding: 10px;
    color: blue;
    background-color: transparent;
    text-decoration: none;
    background-color: yellow;
    width: 300px;
    height: 300px;
    text-align: center;
}


#pumum2 {
    padding-top: 65px;
}

#pumum:hover {
    box-shadow: 0 10px 10px -6px lightgoldenrodyellow;
}

#bahasa {
    padding: 10px;
    color: white;
    background-color: transparent;
    text-decoration: none;
    background-color: green;
    width: 300px;
    height: 300px;
    text-align: center;
}

#bahasa2 {
    padding-top: 50px;
}

#bahasa:hover {
    box-shadow: 0 10px 10px -6px lightgreen;
}

#programming {
    position: relative;
    padding: 10px;
    color: yellow;
    background-color: transparent;
    text-decoration: none;
    background-color: blue;
    width: 300px;
    height: 300px;
    text-align: center;
    transition: top 0.4s ease-in, left 0.4s ease-in;
}

#programming2 {
    padding-top: 40px;
}

#programming:hover {
    box-shadow: 0 10px 10px -6px lightblue;
}


.flex-home-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;

}

#specific {
  display: none;
  background-color: black;
  opacity: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  /* z-index: 2; */
}

/* ----------------------------------------------- */

/* CONTENT TAG */

.article {
    border: 3px solid gray;
    margin: 1% 15% 1% 15%;
    padding: 2% 0 2% 0;
}

.content {
    padding: 0 15% 0 15%;
}

.vid-cont {
    position: sticky;
    top: 39px;
    background-color: black;
    padding: 0 0 5px 0;
}

.vid-cont > video {
    width: 400px;
    max-width: 65%;
}


.vid-preview > video {
    width: 400px;
    max-width: 65%;
}

/* ----------------------------------------------- */

/* COMMENT TAG */

#form{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#name::placeholder{
    text-align: center;
}

#comment::placeholder{
    text-align: center;
}


/* ----------------------------------------------- */

/* FOOTER TAG */

#space {
    height: 200px;
}

#footer {
    background-color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 0 10px 0;
    text-align: center;
    box-shadow: -3px 0 10px white;
}
/* 
main:not(#bahasa) {
    display: none;
} */
